<template name="search">
	<form class="keyword-search" role="search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="search" name="search-term" id="search-term">
			<div class="input-group-btn">
				<button class="btn btn-default btn-custom" type="submit"><i style="border-radius: 0;" class="glyphicon glyphicon-search"></i></button>
			</div>
			<span class="input-group-addon">in</span>
			<select class="form-control" name="search-category" id="search-filter">
				<option value="all">All Ads</option>
				{{#each masterCategories}}
				<option value="{{this.slug}}">{{this.labelEn}}</option>
				{{/each}}
			</select>
		</div>
		<hr>
	</form>

	<div class="">
		<p>Currently searching for ads in {{city.name}}.
			{{> setLocation}}
		</p>
	</div><hr>

	<div class="">
		{{> categories}}
	</div>

	<hr>
	<div class="list-group">
		<div>
		{{#if categoryExists}}
			<h4>Top ads for {{currentCategory.labelEn}} in {{city.name}}</h4>
		{{else}}
			<h4>Top ads in {{city.name}}</h4>
		{{/if}}
			<hr>
		</div>
	</div>

	{{#if isSearching}}
	<div>
		<h5>Search returned {{searchCount}} results</h5>
	</div>
	{{/if}}
	<!-- search results view -->
	<div class="list-group">
		{{#each ads}}
			{{> adTile}}
		{{/each}}
	</div>
	<!-- end search results view -->
</template>

