<template name="selectPlan">
	<div class="list-group select-plan">
		{{#each plans}}
			<a href="#" class="list-group-item">
				<input type="radio" name="selectPlan" id="selectPlan_{{name}}" value="{{name}}">
				{{capitalize name}}: {{limit}}
				<span class="pull-right">{{amount.usd}} / {{interval}}</span>
			</a>
		{{/each}}
	</div>
</template>