<template name="signup">
	<div class="col-sm-7">
		<form id="application-signup">
			<h4 class="page-header">Account Details</h4>
			<div class="form-group">
				<label for="fullName">Full Name</label>
				<input type="text" name="fullName" class="form-control" placeholder="Full Name">
			</div>
			<div class="form-group">
				<label for="emailAddress">Email Address</label>
				<input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password">
			</div>
			<h4 class="page-header">Payment Information</h4>
			<label> Which plan works for you?</label>
			{{> selectPlan}}
			<div class="form-group">
				{{> UI.dynamic template="creditCard" data="signup"}}
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-success btn-block" data-loading-text="Setting up your trial..." style="margin-top: 40px; margin-bottom: 20px;" value="Put me on the rocketship">
			</div>
		</form>
	</div>
</template>