<template name="singleAdView">
	<h3>{{title}}</h3>
	<div class="row">
		<div class="col-sm-4">
			{{#each images}}
				<div class="">
					<a href=""><img class="img-responsive" src="{{url store='thumbs'}}"></a>
				</div>
			{{/each}}
		</div>
		<div class="col-sm-8">
			{{{description}}}
		</div>
	</div>
</template>