<template name="adTile">	
	<div class="">
		<a href="{{pathFor 'singleAdView'}}" class="clearfix list-group-item">
			<div class="col-sm-3">
				{{#each images}}
				<!-- render items -->
					<div class="img-wrapper">
						<img class="img-responsive center-block" src="{{url store='thumbs'}}">
					</div>
				{{else}}
				<!-- or if empty, render default placeholder image -->
					<div class="img-wrapper">
						<img class="img-responsive center-block" src="/images/thumb-default.gif" alt="">
					</div>
				{{/each}}
				
			</div>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-xs-10">
						<h4><a href="{{pathFor 'singleAdView'}}">{{title}}</a></h4>
						<p>{{{description}}}</p>
					</div>
					<div class="col-xs-2">
						<p class="pull-right">{{formatMoney price}} USD</p>
					</div>
				</div>
				<div class="row">
					<hr>
					<div class="col-xs-12">
						<div class="btn-group" tole="group" aria-label="...">
							<a href="#" class="btn btn-default">{{posterEmail}}</a>
							<a href="{{getProfileURL postedBy}}" class="btn btn-default">View Profile</a>
							<a href="#" class="btn btn-default">Send Message</a>
						</div>

						<span class="pull-right"> {{relativeTime postedOn}}</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</template>