<template name="editAd">
	<div>
		<h3>Edit Ad</h3>
		{{#autoForm collection="Ads" id="updateGeneralAdInfo" type="update" doc=this}}
			<fieldset>
				{{> afQuickField name='title'}}
				{{> afQuickField name='adType'}}
				{{> afQuickField name='location'}}
				{{> afQuickField name='price'}}
				{{> afQuickField name='masterCategory'}}
				{{> afQuickField name='subCategory'}}
				{{> afQuickField name='description' rows=6}}
			</fieldset>
			<button type="submit" class="btn btn-primary">Update</button>
		{{/autoForm}}
	</div>
</template>