<template name="postAd">
	<div>
		<h3>Post Ad</h3>
		{{#autoForm collection="Ads" id="generalAdInfo" type="insert" validation=""}}
		<fieldset>
			<legend></legend>
			<div class="col-sm-8">
				{{> afQuickField name='title'}}
			</div>
			<div class="col-sm-4">
				{{> afQuickField name='adType'}}
			</div>
			
			<div class="col-sm-8">
				{{> afQuickField name='location'}}
			</div>
			<div class="col-sm-4">
				{{> afQuickField name='price'}}
			</div>
			<div class="col-sm-12">
				{{> afQuickField name='masterCategory'}}
			</div>
			<div class="col-sm-12">
			{{#if showSubCategorySelect}}
				{{> afQuickField name='subCategory'}}
			{{/if}}
			</div>
			<div class="col-sm-12">
				{{> afQuickField name='description' rows=6}}
			</div>
		</fieldset>
		<button class="btn btn-primary pull-right" type="submit">Next</button>
		{{/autoForm}}
	</div>
</template>
