<template name="uploadImages">
	<div>
		<p>TODO: Prevent other users from either a) accessing this page, b) uploading images on behalf of another user for this ad. </p>
		<h3>Upload Images</h3>
		<p>You may optionally upload images to be displayed alongside your advertisement.</p>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Upload Images</h3>
			</div>
			<div class="panel-body">
				<p>Add Images</p>
				<span class="btn btn-default btn-file"><input multiple type="file" class="file fileInput"></span>
			</div>
			<div class="panel-footer">
				<p>Preview Images</p>
				<div class="row">
				{{#each uploads}}
					<div class="col-lg-3 col-md-4 col-xs-6">
						<span>{{this.name}}</span><a href="#" class="removeFile"><i class="buffer-left fa fa-close"></i></a><a href="{{this.url}}"><img class="img img-responsive thumbnail img-custom" src="{{this.url store='thumbs' uploading='/hex-loader2.gif' storing='/hex-loader2.gif'}}" alt=""></a>
					</div>
				{{/each}}
				</div>
			</div>
		</div>
		<button id="adPreview" class="btn btn-primary pull-right" type="submit">Preview Ad</button>
	</div>
</template>