<template name="adManager">
	<div>
		<h3>Manage Ads</h3>
		{{#if hasAds}}
		<div class="overflow-x:scroll;">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th> Ad Title </th>
						<th> Posted On </th>
						<th></th>  <!-- Edit Column Header -->
						<th></th>  <!-- Promote Column Header -->
						<th></th>  <!-- Delete Column Header -->
					</tr>
				</thead>
				<tbody>
					{{#each ads}}
					<tr>
						<td>{{title}}</td>
						<td>{{postedOn}}</td>
						<td><button type="button" class="btn btn-primary edit">Edit</button></td>
						<td><button type="button" class="btn btn-success upgrade">Promote</button></td>
						<td><button type="button" class="btn btn-danger delete">Delete</button></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{else}}
		<div>
			You currently have no ads posted. <a href="{{pathFor 'postAd'}}">Post an ad for free.</a>
		</div>
		{{/if}}
	</div>
</template>