<template name="ApplicationLayout">
	<div class="container">
		<header>
			{{> navigation}}
		</header>
		
		<aside>
			{{> yield "aside"}}
		</aside>

		<div id="main">
			{{> yield}}
		</div>

		<footer>
			{{> yield "footer"}}
		</footer>
	</div>
</template>