<template name="home">
	<h1 class="text-center"><img src="/images/kopp-logo-final.png" alt=""></h1>
	<p>I would like to browse ads in...</p>
	<form class="set-location">
		<div class="input-group">
			<select class="form-control" name="city" id="city">
				{{#each cities}}
					<option value="{{this.slug}}">{{this.name}}</option>
				{{/each}}
			</select>
			<span class="input-group-btn">
				<input type="submit" class="btn btn-default" value="Go">
			</span>
		</div>	
		<hr>
	</form>
</template>