<template name="reviewTile">
	<div class="panel panel-default">
		<div class="panel-body">{{comment}}</div>
		<div class="panel-footer">
			<div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
		</div>
	</div>
</template>