<template name="reviewInputPanel">
	<div class="panel panel-info">
	    <div class="panel-heading">Review this Buyer/Seller</div>
		<div class="panel-body">
			<form class="submit-review">
				<legend></legend>
				<div class="form-group">
					<label class="control-label" for="rating"></label>
					<div class="controls">
						<div id="add-rating" class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label">Comment</label>
					<div class="controls">
						<textarea name="comment" class="form-control" id="comment" rows="4" cols="50"></textarea>
					</div>
				</div>
				<input type="submit" value="Submit Review" class="btn btn-primary"/>
			</form>
		</div>
	</div>

<!-- 	{{#autoForm collection="Reviews" id="userReviewsForm" type="insert" validation=""}}
	<fieldset>
		<legend></legend>
		<div>
			<div class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
		</div>		
		<div>
			{{> afQuickField name='comment'}}
		</div>

		<div>
			<button class="btn btn-primary pull-right" type="submit">Submit Review</button>
		</div>
	</fieldset>
	{{/autoForm}} -->	
</template>