.btn-custom {
	border-radius: 0;
}

.buffer-left {
 	padding-left: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
    min-width: 210px;
}

.no-text-decoration:hover {
    text-decoration: none;
}

.button {
    padding: 0 20px;
}

.img-wrapper {
	padding: 20px 0px;
}

/* scale every image inside navbar-header to its height */
/*.navbar-header img {
	max-height: 100%;
	width: auto;
}*/

.navbar-header{
    position:relative;
    padding-left:70px;
}
.navbar .navbar-brand {                
    position: absolute;
    left: 0px;
    top: 0px;       
    margin-left: 0px;
    padding: 10px;
}


/* Profile page */
.profile-image-wrapper {
    margin-top: 20px;
}

.upload-profile-btn {
}


/* RATINGS STYLING */
div.bigstars div.rateit-range
{
    background: url(star-white32.png);
    height: 32px;
}
 
div.bigstars div.rateit-hover
{
    background: url(star-gold32.png);
}
 
div.bigstars div.rateit-selected
{
    background: url(star-red32.png);
}
 
div.bigstars div.rateit-reset
{
    background: url(star-black32.png);
    width: 32px;
    height: 32px;
}
 
div.bigstars div.rateit-reset:hover
{
    background: url(star-white32.png);
}
/* END RATINGS STYLING */