<template name="categories">
	<p class="text-center"> 
		<a href="{{pathFor 'search' location=locationParam}}"><button id="all" type="button" class="button button-primary button-rounded margin-bottom">All Categories</button></a>
		{{#each masterCategories}}
			<a class="no-text-decoration" href="{{pathFor 'searchByCategory' location=locationParam category=this.slug}}">
				<button id="{{this.slug}}" type="button" class="category button button-primary button-rounded margin-bottom"><span class="">{{this.labelEn}}</span></button>
			</a>
		{{/each}}
	</p>

	<p class="text-center">
		<div class="btn-group" tole="group" aria-label="...">
		{{#if masterCategorySelected}}
			{{#each subCategories}}
				<a href="{{pathFor 'searchByCategory' location=locationParam category=this.slug}}" class="btn btn-default">{{this.labelEn}}</a>
			{{/each}}
		{{/if}}
		</div>
	</p>
</template>