<template name="createProfile">
	<div class="post">
		<!-- Use autoForm in place of quickform for complex schemas or unique UI requirements. autoForm allows us to define fields individually. -->
		<h3>Profile Definition</h3><hr>
<!-- 		{{> quickForm collection="Meteor.users" doc=this id="updateProfileForm" type="update"}} -->
		
		<!-- Create Profile Form -->
		{{#autoForm schema=userProfileSchema doc=current id="updateProfileForm" type="method-update" meteormethod="updateProfile" validation="blur"}}
		<fieldset>
			<legend>Update Profile Information</legend>
			{{> afQuickField name='firstName'}}
			{{> afQuickField name='lastName'}}
			{{> afQuickField name='birthday' type="bootstrap-datepicker"}}
			{{> afQuickField name='gender' options='allowed'}}
		</fieldset>
		<button id="saveChanges" class="btn btn-primary pull-right" type="submit">Save Changes</button>
		{{/autoForm}}
		<!-- End Create Profile Form -->
	</div>
</template>