<template name="profile">
	<div class="row">
		<div class="col-sm-3">
			<div class="profile-image-wrapper">
				<div class="image thumbnail">
				{{#each profileData.profileImages}}
					<img class="img-responsive center-block full-width" src="{{url store='profile_image_thumbs'}}">
				{{else}}
					<img src="/images/default-profile-pic.jpg" alt="" class="img img-responsive full-width">
				{{/each}}
				</div>
				{{#if ownProfile}}
				<div class="caption">
					<button type="button" class="btn btn-primary btn-block upload-profile-btn" data-toggle="modal" data-target="#uploadImageModal">Upload Profile Image</button>
				</div>
				{{/if}}
			</div>
		</div>
		<div class="col-sm-9">
			<div class="post">
				<h3>{{profileData.profile.firstName}} {{profileData.profile.lastName}} <span class="profile-id">({{profileData._id}})</span></h3>
				{{#if isInRole 'standard-user'}}
					<p>Standard User</p>
				{{/if}}
				<p>Gender: {{profileData.profile.gender}}</p>
				<p>Birthday: {{formatDate2 profileData.profile.birthday}}</p>
				{{#if ownProfile}} 
					{{#if profileIncomplete}}
						<p>Oh noes - Your profile page is incomplete!</p>
					{{/if}}		
					<a href="{{createProfileUrl}}">Update Profile</a>		
				{{/if}}
			</div>
		</div>
	</div>
	<div class="row">
	<hr>
		<div class="col-sm-6">
			<div class="post">
				<h4>My Active Ads</h4>
				<hr>
				<div class="list-group">
					{{#each adsData}}
						<a href="{{pathFor 'singleAdView'}}" class="list-group-item"><h4>{{title}}</h4></a>
					{{/each}}
				</div>
				
			</div>
		</div>
		<div class="col-sm-6">
			<div class="post">
				<h4>Reviews</h4>
				<hr>
				{{#if otherProfile}}
					{{> reviewInputPanel}}
				{{/if}}
				<ul>
					{{#if hasReviews}}
						{{#each reviewsData}}
							{{> reviewTile}}
						{{/each}}
					{{else}}
						<p>No reviews have been posted.</p>
					{{/if}}
				</ul>
			</div>
		</div>
	</div>


	<!-- Upload Profile Image Modal -->
	<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Profile Image Upload</h4>
	      </div>
	      <div class="modal-body">
	      	<form class="">
	        	<input type="file" id="fileInput" name="" class="">
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Upload</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End Upload Profile Image Modal -->
</template>