<template name="chat">
	<div>
		<h3>Chat</h3>
		<div class="row">
			<div class="col-sm-4">
				{{> onlineUsersList}}
			</div>
			<div class="col-sm-8">
				{{> messages}}
			</div>
		</div>
	</div>
</template>