<template name="onlineUsersList">
	<h5>Online Users</h5><hr>
		<div class="list-group">
		{{#each onlineUsers}}
			<a href="#" class="list-group-item user">{{emails.[0].address}}</a>
		{{/each}}
		</div>
</template>