<template name="navigation">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}"><img class="" src="/images/kopp-logo-final-sm.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>  
      {{#if currentUser}}
      <ul class="nav navbar-nav navbar-right nav-icons">
        <li><a href="{{profileUrl}}"><i class="fa fa-user"></i><span class="buffer-left">Profile</span></a></li>
        <li><a href="{{pathFor 'postAd'}}"><i class="fa fa-newspaper-o"></i><span class="buffer-left">Post Ad</span></a></li>
        <li><a href="{{pathFor 'adManager'}}"><i class="fa fa-dashboard"></i><span class="buffer-left">Manage Ads</span></a></li>
        <li><a href="{{pathFor 'chat'}}"><i class="fa fa-wechat"></i><span class="buffer-left">Chat</span></a></li>
      </ul>
      {{/if}}
    </div>
  </nav>	
</template>