<template name="setLocation">
	{{#if isUpdatingLocation}}
				<form class="set-location">
					<div class="input-group">
						<select class="form-control" name="city" id="city">
							{{#each cities}}
								<option value="{{this.slug}}">{{this.name}}</option>
							{{/each}}
						</select>
						<span class="input-group-btn">
							<input type="submit" class="btn btn-default btn-custom" value="Update">
						</span>
						<span class="input-group-btn">
							<a class="cancel btn btn-default btn-custom" href="#">Cancel</a>
						</span>
					</div>					
				</form>
			{{else}} 
				<a class="update-location" href="#">Change Location</a>
			{{/if}}
</template>